body {
    margin: 0;
    height: 2000px;
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: whitesmoke;
    padding: 2rem;
    box-sizing: border-box;
    opacity: 0.6;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.nav-container .logo {
    flex: 1;
    font-size: 4rem;
}

.header {
    position: relative;
    width: 100vw;
    height: 75vh;
}

.main-content {
    background-color: #f9f9f9;
    margin-top: -10vh;
    display: flex;
}

.main-content .order-menu{
    flex: 1;
    min-width: 20vw;
}

.main-content .small-image{
    flex: 1;
    min-width: 20vw;
}

.main-content .menu{
    flex: 1;
    min-width: 20vw;
}

.main-content .big-image{
    flex: 3;
}
